<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todolist</title>
    <script src="vue.js"></script>
</head>
<body>
  <div id="todo-list">
    <form v-on:submit.prevent="addNewTodo">
        <label for="new-todo">添加TODO</label><br>
        <input 
            v-model="newTodoText"
            id="new-todo"
            placeholder="输入你的TODO"
        >
        <button>添加</button>
    </form>
    <ul>
        <li
        
          v-for="(todo,index) in todos"
          v-bind:key="todo.id"
          v-bind:title="todo.title"
          v-on:remove="todos.splice(index,1)"
        >  
        </li>
    </ul>
  </div>
    <script>
        Vue.component('todo-item', {
  template: '\
    <li>\
      {{ title }}\
      <button v-on:click="$emit(\'remove\')">Remove</button>\
    </li>\
  ',
  props: ['title']
})
      new Vue({
        el: '#todo-list',
        data: {
          newTodoText: '',
          todos: [
            {
              id: 1,
              title: '复仇者联盟1',
            },
            {
              id: 2,
              title: '复仇者联盟2',
            },
            {
              id: 3,
              title: '复仇者联盟3',
            },
            {
              id: 4,
              title: '复仇者联盟4',
            }
          ],
          nextTodoId: 5
        },
        methods: {
          addNewTodo: function(){
            if(this.newTodoText){
              this.todos.push({
              id: this.nextTodoId++,
              title:this.newTodoText
            })
            this,newTodoText = ''
            }
            else
            alert("没写东西你纪录nmn？？？")
          }
        }
      })
    </script>
</body>
</html>